@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc !important;
  color: #1f3038;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left !important;
  color: #252a36;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 33px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.content-box {
  padding: 70px 0 0 0;
}

#root .boxrow.big {
  padding-top: 6px !important;
  padding-bottom: 5px !important;
}

.css-1u2mxbp img {
  margin: 0 auto;
}

.MuiDivider-root.MuiDivider-fullWidth.css-9mgopn-MuiDivider-root {
  display: none;
}
.css-1kf81xp-MuiPaper-root-MuiAppBar-root {
  box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 5%);
  position: relative;
}

.css-1kf81xp-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
  color: #252a36 !important;
  box-shadow: 0px 0px 0px 2px rgb(0 0 0 / 5%) !important;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
  color: #252a36 !important;
}

.css-dhvns5-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 3px !important;
}

.css-45fs7h-MuiDrawer-docked .MuiDrawer-paper {
  box-shadow: 0px 1px 2px 3px rgb(0 0 0 / 5%);
  z-index: 999;
}

.profile-box {
  display: flex;
  align-items: center;
}

.profile-box img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: #ccc 1px solid;
  margin: 0 9px 0 0;
}

.header-right {
  width: calc(100% - 225px);
  display: flex;
  align-items: center;
  justify-content: end;
}

.profile-name {
  font-size: 15px;
  font-weight: 700;
}

.profile-name span {
  font-weight: 400;
}

.search-box .MuiSvgIcon-fontSizeMedium {
  color: #00bf00;
  margin: 5px 5px 0;
  cursor: pointer;
}

.search-box input[type='search'] {
  background: transparent;
  border: 0;
  outline: 0;
  color: #cfcfcf;
}
.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
  margin: 0 20px 0 0;
}

#demo-customized-button {
  background-color: #fff;
  color: #252a36;
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.css-1t29gy6-MuiToolbar-root {
  min-height: 57px !important;
  padding: 0 15px !important;
}

.search-box input[type='text']:hover {
  border: 0 !important;
}

button.css-78trlr-MuiButtonBase-root-MuiIconButton-root
  .css-i4bv87-MuiSvgIcon-root {
  color: #00bf00 !important;
}

.pagination-count {
  background-color: #00bf00 !important;
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 15px !important;
  margin: 50px 0 0 0;
}

.pagination-box {
  background-color: #00bf00 !important;
  padding: 0px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 15px !important;
  margin: 50px 0 0 0;
  float: right;
}

.pagination-box ul li button {
  color: #fff;
}

.pagination-count h6 {
  font-size: 14px;
  font-weight: 400;
}

.css-45fs7h-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #fff !important;
  height: 100vh;
  position: relative;
  padding: 0 19px;
}

.MuiDrawer-docked .css-45fs7h-MuiDrawer-docked {
  box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 20%) !important;
}

.MuiList-root.MuiList-padding h3 {
  font-size: 10px;
  text-transform: uppercase;
  color: #b3b0b0;
  text-align: left;
}

.css-h4y409-MuiList-root ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.css-h4y409-MuiList-root ul li .css-i4bv87-MuiSvgIcon-root {
  color: #b3b0b0;
  margin: 0 15px 0 0;
  font-size: 17px;
}

.icon-next {
  position: absolute;
  right: -6px;
}

.css-h4y409-MuiList-root li {
  padding: 8px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.css-h4y409-MuiList-root li .icon-next {
  position: absolute;
  right: -15px;
  top: 10px;
}

.css-h4y409-MuiList-root li .icon-next-down {
  position: absolute;
  right: -15px;
  top: 10px;
}

.css-h4y409-MuiList-root a {
  color: #252a36;
  font-size: 13px;
  text-decoration: none;
  display: flex;
}

.spacer {
  padding: 20px 0 0;
}

.css-11o2879-MuiDrawer-docked
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  display: none;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 5%) !important;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  display: none;
}

.css-11o2879-MuiDrawer-docked
  .css-h4y409-MuiList-root
  ul
  li
  .css-i4bv87-MuiSvgIcon-root {
  margin: 0 28px 0 28px;
}

.css-11o2879-MuiDrawer-docked .MuiList-root.MuiList-padding h3 {
  text-align: center;
  width: 50px;
  white-space: break-spaces;
  padding: 0;
  margin: 0 auto !important;
}

.css-45fs7h-MuiDrawer-docked {
  overflow-x: inherit !important;
  z-index: 5;
}

.css-1kf81xp-MuiPaper-root-MuiAppBar-root {
  z-index: 1 !important;
}

.MuiBadge-colorSuccess.css-pwyk3z-MuiBadge-badge {
  background-color: #00bf00 !important;
}

.link-btn {
  font-size: 14px;
  color: #1b8149;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link-btn .css-i4bv87-MuiSvgIcon-root {
  color: #00bf00;
}

.col-box {
  width: 100%;

  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px 0;
}

.col-box h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.content-box h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
}

.col-box p {
  margin: 0 0 0 0;
}

.icon-box-fist .css-i4bv87-MuiSvgIcon-root {
  font-size: 20px;
  color: #439967;
}

.icon-box-fist {
  padding: 0 15px 0 0;
}

.col-box-small {
  width: 100%;
  border-radius: 10px;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  min-height: 110px;
  cursor: pointer;
}

.col-box-small:hover {
  background-color: #e7fce7;
}

.col-box-small:hover h3 {
  color: #0d793d;
}

.col-box-small:hover .css-i4bv87-MuiSvgIcon-root {
  color: #0d793d !important;
}

.col-box-small h3 {
  width: calc(100% - 76px);
}

.col-box-small .css-i4bv87-MuiSvgIcon-root {
  font-size: 29px;
  color: #00bf00;
}

.col-box-content {
  margin: 0 20px 0 0;
}

.col-box .css-i4bv87-MuiSvgIcon-root {
  font-size: 29px;
}

.heading-box {
  padding: 35px 0 20px;
}

.col-box-group {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 30px;
}

.col-box-gp {
  width: 100%;
  background-color: #fff;
  padding: 15px 0px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  min-height: 40px;
  cursor: pointer;
  border-bottom: #1111111f 1px solid;
}

.col-box-gp:last-child {
  border-bottom: 0;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  overflow: inherit !important;
}

.col-box-gp .css-i4bv87-MuiSvgIcon-root {
  font-size: 29px;
  color: #00bf00;
}

.col-box-gp p {
  font-size: 14px;
  line-height: 25px;
}
.content-box-gp {
  width: calc(100% - 60px);
}

.panel-box {
  width: 100%;

  border-radius: 8px;

  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px 0;
}

.panel-heading {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.icon-cell {
  background-color: #00bf00;
  width: 24px;
  height: 24px;
  padding: 3px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 8px 0 0;
}

.icon-cell .MuiSvgIcon-fontSizeMedium {
  font-size: 18px;
  color: #fff;
}

.panel-heading h3 {
  margin: 0px;
}

.stapp-box {
  display: flex;
  margin: 0 auto;
}

.number-box {
  background-color: #e8e8e8;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  display: inline-block;
  color: #ccc;
  text-align: center;
  position: relative;
}

.number-box:after {
  position: absolute;
  left: 35px;
  top: 17px;
  content: '';
  display: block;
  width: 136px;
  border-bottom: #e8e8e8 2px solid;
}

.stapp-count:last-child .number-box:after {
  display: none;
}

.stapp-count {
  text-align: center;
  width: 25%;
}
.stapp-count h4 {
  font-size: 14px;
  color: #111;
  margin: 0 0 10px 0;
}

.stapp-count h5 {
  font-size: 14px;
  color: #ccc;
  margin: 15px 0 10px 0;
}

.stapp-count:nth-child(1) .number-box {
  background-color: #0f7f44;
  color: #fff;
}

.stapp-count:nth-child(1) h5 {
  color: #0f7f44;
}

.stapp-content-box {
  padding: 30px 34px;
}

.stapp-row {
  display: flex;
}

.stapp-col {
  width: 33.33%;
  padding: 0 0 25px 0;
}

.stapp-col label {
  color: #cdc8c8;
  font-weight: 500;
}

.stapper-wrap {
  padding: 30px 0 0 0;
}

.stapp-col h3 {
  color: #111;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 0px 0;
}

.stapp-footer {
  display: flex;
  justify-content: space-around;
}

.pluse-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 2px 20px;
  color: #0f7f44;
  margin: 0 15px 0 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pluse-btn .MuiSvgIcon-root {
  color: #0f7f44;
  margin-right: 3px;
}

.btn {
  background-color: #05bd0d !important;
  padding: 0px 18px !important;
  border-radius: 5px !important;
  text-align: center;
  line-height: 35px !important;
  font-size: 14px !important;
  font-weight: 500;
  color: #fff !important;
  display: inline-block;
  text-decoration: none;
}

.border-btn {
  padding: 0px 15px 0 7px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border: #05bd0d 2px solid;
  color: #05bd0d;
  margin-left: 10px;
}

.box-btn {
  background-color: #05bd0d !important;
  padding: 0px 15px 0 7px;
  border-radius: 5px;
  font-size: 14px !important;
  line-height: 25px !important;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border: 0 !important;
  color: #fff !important;
  margin-left: 10px;
  text-transform: inherit;
}
.box-Secondary {
  background-color: rgb(154, 158, 154) !important;
  padding: 0px 15px 0 7px;
  border-radius: 5px;
  font-size: 14px !important;
  line-height: 25px !important;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border: 0 !important;
  color: #fff !important;
  margin-left: 10px;
  text-transform: inherit;
}

.box-btn-cancel {
  background-color: #fff !important;
  padding: 0px 15px 0 7px;
  border-radius: 5px;
  font-size: 14px !important;
  line-height: 25px !important;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #6394a6 !important;
  margin-right: 10px !important;
  text-transform: inherit;
}

.box-btn .css-i4bv87-MuiSvgIcon-root {
  font-size: 16px;
  margin-right: 5px;
}

.print-box {
  border: #05bd0d 2px solid !important;
  margin: 0px 0px 0px 0px !important;
  width: 50px;
  height: 50px;
  border-radius: 0 !important;
  float: right;
}

.empty-box {
  background-color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 5px 10px;
  margin: 50px 0px 45px 0px !important;
}

.search-box {
  border: #05bd0d 1px solid !important;
  background-color: #fff !important;
  border-radius: 20px;
  padding: 0px 0 5px 10px;
  margin: 50px 0px 45px 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  float: right;
}

.search-box input[type='text'] {
  background-color: #fff !important;
  padding: 2px 0px 0px !important;
  font-size: 14px;
}

.search-box .MuiFilledInput-underline:after,
.search-box .MuiFilledInput-underline::before {
  border: 0;
}

.calender-box-wrap {
  max-width: 300px;
  padding: 22px 0 0 0;
}

.calender-box-wrap .btn {
  margin: 0 auto;
  width: 85px;
  display: block;
}

.calender-box-left {
  padding: 0px 0;
}

.cal-number-box {
  padding: 5px 10px 0;
  text-align: center;
  border-radius: 10px;
  border: #f9efef 3px solid;
  width: 90px;
}

.calender-box-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 20px 0;
}

.calender-box-left label {
  font-size: 12px;
  color: #aaa;
}

.calender-box-left h4 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #252a36;
}

.month {
  font-size: 15px;
  color: #aaa;
  font-weight: 700;
}

.time {
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
}

.calender-box-right {
  padding: 0px 15px;
}

.calender-box-right h3 {
  font-size: 18px;
  color: #252a36;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0px 0;
}

.calender-box-right .border-btn {
  font-size: 18px;
  line-height: 40px;
  display: block;
  margin: 18px 0 0 0;
  padding: 0 15px;
  text-align: center;
}

.calender-box-inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
}

.chart-box-wrap {
  padding: 50px 0 0 0;
}

.canvas-box {
  max-width: 400px;
  margin: 0 auto 50px;
  text-align: center;
}

.canvas-dropdown select {
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  appearance: none;
  padding: 10px 0;
  font-size: 20px;
  color: #ccc;
  border: 0;
  outline: 0;
  width: 180px;
  border-bottom: #c9c2c2 2px solid;
}

.canvas-box-list ul {
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none;
  column-count: 2;
}

.canvas-box-list ul li {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
}

.canvas-box-list ul li i {
  width: 12px;
  height: 12px;
  border: #067df5 4px solid;
  border-radius: 12px;
  display: inline-block;
}

.canvas-box-list ul li:first-child i {
  border: #439967 4px solid;
}

.canvas-box-list ul li:nth-child(2) i {
  border: #f96e71 4px solid;
}

.canvas-box-list ul li:nth-child(3) i {
  border: #42c1d0 4px solid;
}

.canvas-box-list ul li:nth-child(4) i {
  border: #e4bd32 4px solid;
}

.canvas-box-list ul li:nth-child(5) i {
  border: #85d1ad 4px solid;
}

.canvas-box-list ul li:nth-child(6) i {
  border: #5baf59 4px solid;
}

.canvas-box-list ul li:nth-child(7) i {
  border: #cf81ab 4px solid;
}

.canvas-box-list ul li:nth-child(8) i {
  border: #d80d21 4px solid;
}

.css-4jz4pb-MuiGrid-root,
.css-13i4rnv-MuiGrid-root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0px;
}

.css-1wniyei-MuiTypography-root,
.css-1wniyei-MuiTypography-root {
  margin: 0;
  font-size: 14px;
}
.MuiPaper-root .css-mhc70k-MuiGrid-root {
  border-radius: 4px;
  box-shadow: none !important;
  margin: 0 0 10px 0 !important;
  background-color: #fff !important;
  border: #dee3de 1px solid;
  padding: 0 0px 0 0;
}

.css-1e32ud8-MuiPaper-root {
  border-radius: 4px;
  padding: 0px !important;
  box-shadow: none !important;
  background-color: transparent !important;
  max-width: 100% !important;
}

.box-row {
  padding: 20px 0;
}

.box-row h3 {
  margin: 0px;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding: 0px 16px 0 !important;
}

.MuiTypography-subtitle1 {
  margin: 0 !important;
}

.col-box .css-12dv9jb .css-i4bv87-MuiSvgIcon-root {
  font-size: 45px;
  margin: 0 auto;
  cursor: pointer;
  color: #0bb202;
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
  width: 100% !important;
  text-align: center;
}

button.css-mm1mnd-MuiButtonBase-root {
  border-radius: 50%;
  border: #0bb202 2px solid;
  margin: 30px 0;
}

button.css-mm1mnd-MuiButtonBase-root .css-i4bv87-MuiSvgIcon-root {
  color: #0bb202;
}

.link-box {
  background-color: #fff;
  padding: 7px 0;
  border: #dee3de 1px solid;
  margin-bottom: 10px;
  border-radius: 4px;
}

.link-box .css-46bh2p-MuiCardContent-root {
  padding: 14px 14px 0;
}

.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  border: 0 !important;
  background-color: transparent !important;
}

.cardstyle .css-mhc70k-MuiGrid-root {
  border: #dee3de 1px solid;
  border-radius: 5px;

  max-width: 100%;
  margin-bottom: 10px;

  border-radius: 4px;
  box-shadow: none !important;
  margin: 0 0 10px 0 !important;
  background-color: #fff !important;
  border: #dee3de 1px solid;
  padding: 0 20px 0 0;
}

.cardstyle .css-mhc70k-MuiGrid-root button .MuiSvgIcon-fontSizeMedium {
  color: #0bb202;
  font-size: 30px;
}

.cardstyle .css-mhc70k-MuiGrid-root strong {
  font-size: 40px;
  line-height: 46px;
  display: block;
}

.cardstyle .css-mhc70k-MuiGrid-root button {
  border: #0bb202 2px solid;
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardstyle .css-1iwtne7-MuiTypography-root-MuiLink-root {
  color: #000 !important;
}

.btn-link {
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.panel-box ul.MuiList-root {
  background-color: transparent;
}

.panel-box ul.MuiList-root li {
  background-color: white;
  border: #dee3de 1px solid;
  border-radius: 5px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.panel-box ul.MuiList-root li span {
  font-size: 16px;
  font-weight: 700;
}

.panel-box .btn-link {
  display: flex;
  align-items: center;
  max-width: 136px;
  margin-bottom: 5px;
  justify-content: space-around;
}

.panel-box .MuiGrid-grid-xs-true {
  padding: 5px 0px 5px 0;
}

.panel-box .css-i4bv87-MuiSvgIcon-root {
  font-size: 18px !important;
}

div#root .MuiBox-root.css-0 {
  width: 100% !important;
}

.MuiBox-root.css-zxdg2z h3 {
  margin: 0px;
}

.title-space {
  display: flex;
  justify-content: space-between;
}
.panel-box-link {
  display: flex;
  justify-content: end;
}

.panel-box-link .btn-link .css-i4bv87-MuiSvgIcon-root {
  margin-left: 5px;
}

.title-space .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0;
  width: 100px;
}

.title-space .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none;
}

.title-space .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  padding-right: 0;
}

.css-45fs7h-MuiDrawer-docked {
  background-color: #fff !important;
  box-shadow: 0px 1px 2px 3px rgb(0 0 0 / 5%) !important;
}

.MuiIconButton-edgeStart {
  margin: 0 30px 0 0px !important;
}

.menu-link {
  overflow: hidden;
  margin: 36px 0 0 0;
}

.menu-link li {
  cursor: pointer;
}

.css-11o2879-MuiDrawer-docked .menu-link ul.MuiList-root,
.css-11o2879-MuiDrawer-docked .icon-next,
.css-11o2879-MuiDrawer-docked .menu-link ul.MuiList-root,
.css-11o2879-MuiDrawer-docked .icon-next-down {
  display: none;
}

.allert-col {
  border: #f2f2f2 1px solid;
  color: #1f3038;
  background-color: #fff;
  margin: 0 8px !important;
}
.allert-col .css-i4bv87-MuiSvgIcon-root {
  color: #0bb202;
}
.icon-space {
  margin-right: 25px !important;
}
.allert-wrap {
  margin: 0 -8px !important;
}

.title-col {
  padding: 15px;
}

.title-col h3 {
  font-size: 20px;
}

.icon-box .css-i4bv87-MuiSvgIcon-root {
  color: #0bb202;
  font-size: 30px !important;
}

.link-small .css-i4bv87-MuiSvgIcon-root {
  color: #1f3038 !important;
  font-size: 18px !important;
}

.boxrow {
  color: #1f3038;
}
.boxrow .css-i4bv87-MuiSvgIcon-root {
  color: #0bb202;
}

.btn-link .css-i4bv87-MuiSvgIcon-root {
  color: #1f3038;
  font-size: 29px;
}

.btn-link {
  font-size: 14px;
  color: #1f3038 !important;
}

.boxrow.arrow .btn-link .css-i4bv87-MuiSvgIcon-root {
  color: #1f3038;
  font-size: 18px;
  margin-left: 5px;
}

.data-box.css-zvoy8x-MuiPaper-root {
  margin: 0 !important;
}

.link-tool {
  color: #1f3038;
  display: inline-block;
  margin: 0 10px !important;
}

.link-tool .MuiSvgIcon-root,
.css-30pzqk-MuiDataGrid-root button.link-tool .MuiSvgIcon-root {
  font-size: 21px;
  color: #1f3038 !important;
}

.menu-link li.m-active .css-i4bv87-MuiSvgIcon-root,
.menu-link li:hover,
.menu-link li:hover .css-i4bv87-MuiSvgIcon-root,
.menu-link li.m-active span,
.menu-link li:hover span {
  color: #0bb202;
}

span.count {
  border: #1f3038 1px solid;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

thead.css-15wwp11-MuiTableHead-root {
  background-color: #f2f2f2 !important;
}

nav.MuiList-root {
  padding: 0 !important;
}

.css-1kf81xp-MuiPaper-root-MuiAppBar-root .header-right {
  width: calc(100% - 155px);
}

.css-15hesxo {
  margin-right: 1.6em;
}

/*.col-box .css-mhc70k-MuiGrid-root{
  width: calc(100% + 0px);
}*/

.modelPopUp .MuiDialog-paper {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  overflow: hidden;
}

.modelPopUp .MuiDialog-paper h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 45px;
}

.box-row .MuiTypography-subtitle1 {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.cardstyle .MuiTypography-subtitle1 {
  display: block;
  padding: 15px 0 0;
}

.cardstyle {
  margin-top: 15px;
}

.arrow-btn {
  position: absolute !important;
  left: 94%;
  top: 68px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: #ccc 1px solid !important;
  border-radius: 50% !important;
  background-color: #fff !important;
}

.modelPopUp .MuiDialog-paper input[type='text'],
.modelPopUp .MuiDialog-paper input[type='Email'] {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  height: 15px;
  margin: 0 0 0px 0;
  border-radius: 10px !important;
}

.modelPopUp
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  padding: 6px 10px;
  min-height: 7px;
}

.modelPopUp .css-viou3o-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 10px;
  height: 36px;
  width: 100% !important;
}

.modelPopUp .css-viou3o-MuiAutocomplete-root {
  width: 100% !important;
}

.modelPopUp .MuiAutocomplete-input {
  padding: 0px !important;
}

.modelPopUp .MuiDialog-paper .MuiInputBase-formControl {
  width: 100%;
}

.modelPopUp .MuiDialog-paper .MuiFormControl-root {
  width: 100%;
  margin: 0 0 10px 0 !important;
}

.modelPopUp .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -8px;
  font-size: 14px;
}

.tab-group {
  padding: 50px 0 0 0;
}

.tab-group h3 {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #0d783d;
}

.tabform {
  padding: 20px 0;
  width: 100%;
  max-width: 800px;
}

.tabform .box-btn {
  line-height: 50px !important;
  padding: 0px 30px !important;
}

.tabform .MuiTextField-root {
  width: 100%;
  margin: 0 0 10px;
}

.tabform-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.tab-group h3 .MuiSvgIcon-fontSizeMedium {
  margin-right: 10px;
}

/*.modelPopUp .MuiDialog-paper .css-gg4vpm{
  justify-content: space-between;
  width: 100%;
 
}*/

.modelPopUp .css-1t4vnk2-MuiDialogContent-root {
  padding: 20px 0 !important;
  border: 0 !important;
}

#customized-dialog-title {
  padding: 0 !important;
}

.modelPopUp .MuiDialog-paper .MuiBox-root textarea {
  width: calc(100% - 16px) !important;
  border: 0;
  outline: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  resize: none;
}

.modelPopUp .MuiDialogActions-root,
.css-153eyq5-MuiModal-root-MuiDialog-root.MuiDialogContent-root {
  padding: 0px !important;
}

.box-btn.tag {
  display: inline-block !important;
  margin: 2px;
  padding: 0 10px 0 5px;
}

.box-btn.tag svg {
  color: #fff !important;
}

.box-tag {
  border: #265773 1px solid;
  border-radius: 4px;
  padding: 10px;
}

.text-row {
  display: flex;
  padding: 0 0 10px 0;
  font-size: 14px !important;
}

.text-row label {
  width: 144px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  padding: 0 15px 0 0;
}

.text-row span {
  font-size: 14px;
  display: inline-block;
  text-align: left;
  width: calc(100% - 144px);
}

/*.tabDashboard {
  padding: 40px 50px;
}*/

.frame .MuiBox-root {
  padding: 0px;
}

.css-1kf81xp-MuiPaper-root-MuiAppBar-root {
  z-index: 1 !important;
}

.css-45fs7h-MuiDrawer-docked .MuiDrawer-paper {
  box-shadow: none;
  border-right: 0 !important;
  z-index: 999;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #0bb202 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #0bb202 !important;
}

.menu-link .MuiList-root .css-bshv44-MuiButtonBase-root-MuiListItem-root {
  padding: 0px;
  margin-left: 28px;
  background-color: transparent !important;
}

.Mui-selected span {
  color: #0bb202 !important;
}

.menu-link .MuiList-root .css-10hburv-MuiTypography-root {
  font-size: 12px;
}

.note {
  font-size: 14px;
  display: block;
  margin: 0 0 10px 5px;
  width: 100%;
}

.login-wrap {
  background-image: url(../images/bg-login2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrap .MuiPaper-elevation {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  box-shadow: #e1dddd 0px 0px 10px;
}

.login-wrap .login-box {
  background-color: #fff;
  width: 600px !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: #333 0px 0px 10px;
}

.login-wrap .MuiSvgIcon-fontSizeMedium {
  font-size: 20px;
  margin-right: 10px;
  margin-left: -20px;
}

.login-wrap .btn {
  width: 245px;
  height: 45px;
  font-size: 17px !important;
  text-transform: none;
}

.login-head h2 {
  font-size: 26px;
  font-weight: 300;
  color: #1f3038;
  margin: 0 0 10px 0;
}

.login-head p {
  font-weight: 300;
  color: #1f3038;
}

.login-head p strong {
  color: #0bb202;
}

.login-head img {
  max-width: 450px;
}

.Step-container-notification {
  position: relative;
}

.Step-container-notification
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #0bb202;
  position: relative;
}

.Step-container-notification
  .css-8wcvy5-MuiStep-root
  .css-vnkopk-MuiStepLabel-iconContainer {
  width: 46px;
  height: 46px;
  padding: 9px;
  border-radius: 50%;
  border: #0bb202 2px solid;
}

.Step-container-notification .css-16ubnlw-MuiStepLabel-labelContainer {
  background-color: #cfcfcf;
  min-height: 30px;
}

.Step-container-notification .Mui-active.css-qivjh0-MuiStepLabel-label {
  background-color: #0bb202;
  padding: 5px 15px;
  color: #fff;
}

.Step-container-notification .css-8wcvy5-MuiStep-root {
  display: flex;
}

.Step-container-notification .MuiStepLabel-root,
.Step-container-notification .MuiStepContent-root {
  width: 36%;
}

.Step-container-notification .MuiStepLabel-labelContainer {
  color: #000;
  overflow: hidden;
  margin-left: 5px;
}

.Step-container-notification .css-qivjh0-MuiStepLabel-label.Mui-active {
  color: #fff;
  border: #0bb202 1px solid;
}

.Step-container-notification .MuiStepLabel-label.Mui-completed {
  padding: 5px 15px;
}

.Step-container-notification .MuiStepLabel-label.Mui-disabled {
  padding: 5px 15px;
}

.Step-container-notification
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #0bb202;
}

.Step-container-notification .MuiStepLabel-label.Mui-completed {
  background-color: #0bb202;
  color: #fff;
}

.Step-container-notification
  .css-8wcvy5-MuiStep-root
  .Mui-disabled
  .css-vnkopk-MuiStepLabel-iconContainer {
  border: rgba(0, 0, 0, 0.38) 2px solid;
}

.Step-container-notification {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  min-height: 463px;
}

.Step-container-notification .css-1pe7n21-MuiStepConnector-root {
  margin-left: 25px;
}

.Step-container-notification .css-14yr603-MuiStepContent-root {
  border-left: 0;
}

.Step-container-notification::before {
  position: absolute;
  left: 36%;
  top: 0px;
  height: 100%;
  content: '';
  display: block;
  width: 64%;
  box-shadow: #0c0c0c36 -4px 0px 7px 0px;
  background-color: #fff;
  border-radius: 10px;
}

.Step-container-notification .css-9l5vo-MuiCollapse-wrapperInner {
  z-index: 9;
  position: absolute;
  top: 30px;
  width: 60%;
}

.Step-container-notification table {
  width: 63%;
}

.Step-container-notification table tr td {
  width: 30%;
  padding: 0px 0px 20px;
  text-transform: uppercase;
}

.Step-container-notification table tr td strong {
  display: block;
}

.menu-link .css-9l5vo-MuiCollapse-wrapperInner {
  position: relative;
  top: 0;
}

.Step-container-horizontal {
  position: relative;
}

.Step-container-horizontal .MuiStepContent-root {
  position: absolute;
  left: 0;
  top: 100px;
  width: calc(100% - 20px);
  padding: 0 10px;
}

.Step-container-horizontal .css-1mz1l2x-MuiStepContent-root {
  padding: 0 10px;
  margin-left: 0;
}

.Step-container-horizontal .css-1q5sdqw,
.Step-container-horizontal .css-1di5t78-MuiPaper-root {
  padding: 0 10px;
}

.Step-container-horizontal .css-1di5t78-MuiPaper-root {
  padding: 50px 10px;
}

.Step-container-horizontal .css-14yr603-MuiStepContent-root {
  margin-left: 0;
  border: 0;
}

.text-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Edited by Sourav Das */

.text-center .btn {
  margin-right: 15px;
}

.two-col-form {
  margin: 0 -10px !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

.form-col {
  margin: 0 10px 20px !important;
  width: calc(50% - 20px);
}

.form-col-single {
  width: calc(100% - 20px);
  margin: 0 10px 20px !important;
}
/* created by Sourav Das */
.file-exported {
  display: flex;
  flex-wrap: wrap;
}
/* Badge counter by sourav das */
.badge-counter {
  margin:20px 0 0  0;
  display: flex;

}
.badge-counter .icon-counter {
  padding: 0 5px 0 5px;
  border-radius: 2px;
  border: #05bd0d 1px solid;
}

.badge-counter .icon-counter:hover,.badge-counter .css-i4bv87-MuiSvgIcon-root:hover {
  background-color: #05bd0d;
  color: #fff !important;
}

.badge-counter .icon-counter:hover .css-i4bv87-MuiSvgIcon-root{
  color: #fff !important;
}

.badge-counter .label-counter {
  padding: 5px 10px;
  border: #05bd0d 1px solid;
  font-size: 1.2em;
}
.form-col .MuiAutocomplete-root {
  width: calc(100% - 0px) !important;
}

.Step-container-horizontal .MuiStepLabel-horizontal.Mui-disabled {
  border: #bdbdbd 2px solid;
}

.Step-container-horizontal .css-ascpo7-MuiStepLabel-root {
  border: #05bd0d 2px solid;
  padding: 10px;
  border-radius: 25px;
}

.Step-container-horizontal
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #05bd0d;
}

.Step-container-horizontal
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.css-qivjh0-MuiStepLabel-label.Mui-completed {
  color: #fff !important;
}

.Step-container-horizontal
  .MuiStep-root.MuiStep-horizontal.Mui-completed
  .MuiStepLabel-horizontal {
  background-color: #05bd0d;
}

.Step-container-horizontal .css-z7uhs0-MuiStepConnector-line {
  border-top-width: 2px;
  border-top-style: dashed;
  border-color: #05bd0d;
}

.MuiStepConnector-horizontal .Mui-completed .css-z7uhs0-MuiStepConnector-line {
  border-color: #05bd0d;
}

.Step-container-horizontal .Mui-active .css-z7uhs0-MuiStepConnector-line {
  color: #05bd0d;
}

/* flex implement radio button by sourav das */
.radio-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





@media (max-width: 1100px) {
  .col-box .css-i4bv87-MuiSvgIcon-root {
    font-size: 20px;
  }
  .css-1wniyei-MuiTypography-root,
  .css-10wpov9-MuiTypography-root {
    font-size: 14px;
  }
  .button.css-mm1mnd-MuiButtonBase-root {
    margin: 25px 0;
  }
  .MuiPaper-root .css-mhc70k-MuiGrid-root {
    padding: 0px;
  }
  .css-mm1mnd-MuiButtonBase-root {
    width: 40px !important;
    height: 40px !important;
  }
  .col-box h3 {
    font-size: 14px;
  }
  .css-10wpov9-MuiTypography-root {
    font-size: 12px !important;
  }
  .css-13i4rnv-MuiGrid-root,
  .css-19gf1bx-MuiGrid-root {
    padding: 0 10px !important;
  }
  .cardstyle .css-mhc70k-MuiGrid-root button {
    width: 60px;
    height: 60px;
  }
  .cardstyle .css-mhc70k-MuiGrid-root strong {
    font-size: 28px;
    line-height: 32px;
  }
  .cardstyle .css-mhc70k-MuiGrid-root {
    padding: 0px !important;
  }

  .css-1wniyei-MuiTypography-root {
    font-size: 12px;
  }
  .MuiGrid-grid-xs-12.MuiGrid-grid-sm-true.css-19gf1bx-MuiGrid-root {
    padding: 0 0px !important;
  }
  .MuiGrid-grid-xs-12.MuiGrid-grid-sm-true.css-19gf1bx-MuiGrid-root
    .MuiTypography-subtitle1.css-1wniyei-MuiTypography-root {
    min-width: 113px !important;
    font-size: 12px !important;
  }

  .link-box {
    padding: 0px;
  }

  .css-zxdg2z {
    padding: 24px 24px 0;
  }
  .btn-link {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .panel-box .MuiGrid-grid-xs-true {
    padding: 15px 0px 11px 10px;
  }
}

@media (max-width: 900px) {
  .MuiTypography-subtitle1 {
    font-size: 14px !important;
  }
}
